<header>
  <meta name="footer">
  <a (click)="confirmNavigation('')" class="logo" style="cursor: pointer;">conduit</a>
  <ul class="nav-bar">
    <ng-container *ngFor="let item of menu()">
      <li
        (click)="confirmNavigation(item.url)"
        class="nav-item"
        style="cursor: pointer;"
      >
        <i [class]="item.icon + ' me-1'"></i>{{ item.title }}
      </li>
    </ng-container>

    <ng-container *ngIf="currentUser() as user">
      <li
        (click)="confirmNavigation(['@' + user.username])"
        class="nav-item"
        style="cursor: pointer;"
      >
        <img class="user-avatar" [src]="user.image" [alt]="user.username">
        {{ user.username }}
      </li>
    </ng-container>
  </ul>
</header>