.container {
  max-width: 1200px;
  min-height: calc(100vh - 149px);
  margin-bottom: 16px;
   background-image: url('https://i.imgflip.com/7ianhi.jpg?a490944');
   background-repeat: no-repeat;
   background-size: 1000px;

}




