<footer>
  <meta name="header">
  <a href="https://github.com/AndyT2503/angular-conduit-signals" target="_blank"
    ><i class="fa-brands fa-github me-2"></i>Fork on Github</a
  >
  <div class="gif-container">
    <img src="https://i.pinimg.com/originals/fe/a5/33/fea5336ece9573d235870d51b8d28e7a.gif" >
  </div>
  
  <div class="gif-container">
    <img src="https://i.pinimg.com/originals/98/70/bb/9870bb35ba3e9c8edc023d94e039217c.gif" >
  </div>

  <div class="gif-container">
    <img src="https://media.tenor.com/N5XLu7zrh8kAAAAM/cat-catfish.gif" >
  </div>

  <div class="gif-container">
    <img src="https://www.photofunky.net/output/image/e/b/c/c/ebcc2e/photofunky.gif" >
  </div>
</footer>
